# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [19]:
CREATE TABLE junkdb_stl_may2023.shelby.planned_makes (
    id int PRIMARY KEY,
    first_name varchar (50) not null, 
    last_name varchar (50) not null,

)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes.

In [ ]:

use JunkDB_STL_May2023
insert into shelby.planned_makes 
Values (1, 'shelby', 'long')

In [25]:

use JunkDB_STL_May2023
insert into shelby.planned_makes 
Values (2, 'sydney', 'trusty'), (3,'michelle', 'beauchamp')

In [26]:
select *
from JunkDB_STL_May2023.shelby.planned_makes

id,first_name,last_name
1,shelby,long
2,sydney,trusty
3,michelle,beauchamp

## Update a Row

Change different values in one of your three rows.

In [27]:
use JunkDB_STL_May2023
update shelby.planned_makes
set last_name = 'LONG'
WHERE last_name = 'beauchamp'

In [28]:
select *
from JunkDB_STL_May2023.shelby.planned_makes

id,first_name,last_name
1,shelby,long
2,sydney,trusty
3,michelle,LONG

## Delete a Row

Delete one of the rows from your table.

In [29]:
use JunkDB_STL_May2023
delete from shelby.planned_makes
where last_name = 'long'

In [30]:
select *
from JunkDB_STL_May2023.shelby.planned_makes

id,first_name,last_name
2,sydney,trusty

## Drop the Table

While this has been fun, it is time to drop the table!

In [31]:
use JunkDB_STL_May2023
drop table shelby.planned_makes